<!-- List Panel -->
<div class="card">
 <div class="card-header bg-primary app-card-header">Transactions List</div>
 <div class="card-body app-card-body">
  <div class="table-responsive">
   <table class="table table-striped table-hover">
    <thead>
     <tr>
      <td>Card Number</td>
      <td>Tran Date</td>
      <td>Tran Amount</td>
      <td>Tran Type</td>
      <td>Status</td>
      <td>Merchant Id</td>
      <td>Terminal Id</td>
     </tr>
    </thead>
    <tbody *ngIf="transactions && transactions.length > 0">
     <tr *ngFor="let transaction of transactions">
      <td>{{transaction.cardNumber}}</td>
      <td>{{transaction.tranDateTime}}</td>
      <td>{{transaction.tranAmount}}</td>
      <td>{{transaction.tranType}}</td>
      <td>{{transaction.status}}</td>
      <td>{{transaction.merchantId}}</td>
      <td>{{transaction.terminalId}}</td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>
