<!-- List Panel -->
<div class="card">
 <div class="card-header bg-primary app-card-header">Accounts List</div>
 <div class="card-body app-card-body">
  <div class="table-responsive">
   <table class="table table-striped table-hover">
    <thead>
     <tr>
       <td>Account Number</td>
       <td>First Name</td>
       <td>Last Name</td>
       <td>DOB</td>
       <td>Address#1</td>
       <td>Address#2</td>
       <td>City</td>
       <td>Region</td>
       <td>Country</td>
       <td>Zip</td>
     </tr>
    </thead>
     <tbody *ngIf="accounts && accounts.length > 0">
      <tr *ngFor="let account of accounts">
       <td>{{account.accountNumber}}</td>
       <td>{{account.firstName}}</td>
       <td>{{account.lastName}}</td>
       <td>{{account.dob}}</td>
       <td>{{account.address1}}</td>
       <td>{{account.address2}}</td>
       <td>{{account.city}}</td>
       <td>{{account.region}}</td>
       <td>{{account.country}}</td>
       <td>{{account.zip}}</td>
      </tr>
     </tbody>
   </table>
  </div>
 </div>
</div>